.speech{
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: black;
}
.direction {
    font-family: Georgia, serif;
    font-size: 14px;
    color: black;
    background-color: #dcf808;
}
.direction:hover {
    background-color: #dcdcdc;
    color: #333333;
}
.Oedipus {
    color: #ff6347; /* Tomato */
}
.Jocasta {
    color: #4682b4; /* SteelBlue */
}
table{
    width :70%;
    border-collapse: collapse;
}
th,td{
    border:1px solid black;
    padding:8px;
    text-align: center;
}
tr:nth-child(odd){
    background-color: beige;
}
.Oedipus:hover{
    text-shadow: 2px 2px 5px rgb(0, 255, 153);
    border: 2px solid darkblue; 
    border-radius: 5px; 
    padding: 5px; 
    }
    .Jocasta:hover{
        text-shadow: 2px 2px 5px rgb(255, 0, 13);
        border: 2px solid rgb(244, 64, 9); 
        border-radius: 5px; 
        padding: 5px; 
        }    